/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_common.scss */
html, body {
  font: 0 Tahoma, Geneva, sans-serif normal;
}

/* line 4, ../scss/_common.scss */
body {
  text-align: center;
  padding: 20px;
  background: #193441 url("../img/logo.png") no-repeat fixed bottom right;
  background-size: auto auto;
}
@media screen and (max-width: 721px) and (min-width: 480px) {
  /* line 4, ../scss/_common.scss */
  body {
    background-size: 80% auto;
  }
}
@media screen and (max-width: 481px) {
  /* line 4, ../scss/_common.scss */
  body {
    background-size: 100% auto;
  }
}

/* line 17, ../scss/_common.scss */
p {
  font-size: 14px;
}

/* line 21, ../scss/_common.scss */
a {
  text-decoration: none;
}

/* line 25, ../scss/_common.scss */
h1 {
  font-size: 28px;
}

/* line 28, ../scss/_common.scss */
h2 {
  font-size: 24px;
}

/* line 31, ../scss/_common.scss */
h3 {
  font-size: 22px;
}

/* line 34, ../scss/_common.scss */
h4 {
  font-size: 20px;
}

/* line 37, ../scss/_common.scss */
h5 {
  font-size: 18px;
}

/* line 40, ../scss/_common.scss */
h6 {
  font-size: 16px;
}

/* line 43, ../scss/_common.scss */
h1, h2, h3, h4, h5, h6 {
  color: #193441;
  font-family: Impact, Charcoal, sans-serif;
  margin-bottom: 20px;
}

/* line 49, ../scss/_common.scss */
input {
  width: 100%;
  border: 0;
  padding: 8px 4px;
  margin-bottom: 10px;
  display: inline-block;
  box-sizing: border-box;
}

/* line 58, ../scss/_common.scss */
button {
  cursor: pointer;
  border: 0;
  padding: 4px 8px;
  color: #FCFFF5;
  background-color: #193441;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 65, ../scss/_common.scss */
button:focus, button:hover {
  background-color: #3E606F;
}

/* line 70, ../scss/_common.scss */
header {
  padding: 20px;
  margin: -20px -20px 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 5px solid #D1DBBD;
}

/* line 78, ../scss/_common.scss */
section {
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px dashed #3E606F;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 86, ../scss/_common.scss */
.results {
  margin-top: 20px;
  text-align: left;
}
/* line 89, ../scss/_common.scss */
.results .row {
  width: 100%;
  font-size: 0;
  display: inline-block;
  box-sizing: border-box;
  color: #193441;
  padding: 10px 8px;
  background-color: #94BFCA;
  border-bottom: 1px solid #D1DBBD;
}
/* line 98, ../scss/_common.scss */
.results .row:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 101, ../scss/_common.scss */
.results .row:first-of-type {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
}
/* line 104, ../scss/_common.scss */
.results .row:last-of-type {
  border-bottom-width: 0;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}
/* line 108, ../scss/_common.scss */
.results .row.active {
  color: #FCFFF5;
  background-color: #3E606F;
}
/* line 112, ../scss/_common.scss */
.results .row span {
  font-size: 14px;
  margin-right: 2%;
}
/* line 116, ../scss/_common.scss */
.results .row .status {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 14px;
  width: 14px;
  display: inline-block;
}
/* line 121, ../scss/_common.scss */
.results .row .status.off {
  background-color: #D1DBBD;
}
/* line 124, ../scss/_common.scss */
.results .row .status.on {
  background-color: #3E606F;
}

/* line 131, ../scss/_common.scss */
.block {
  padding: 20px;
  width: 32%;
  margin: 0 2% 20px 0;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #D1DBBD;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 721px) and (min-width: 480px) {
  /* line 131, ../scss/_common.scss */
  .block {
    width: 80%;
    margin-right: 0;
  }
}
@media screen and (max-width: 481px) {
  /* line 131, ../scss/_common.scss */
  .block {
    width: 100%;
    margin-right: 0;
  }
}
/* line 150, ../scss/_common.scss */
.block:last-of-type {
  margin-right: 0;
}

/* line 155, ../scss/_common.scss */
.fields {
  width: 100%;
  font-size: 0;
  display: inline-block;
}
/* line 159, ../scss/_common.scss */
.fields input[name="city"] {
  width: 30%;
  border-right: 2px solid #D1DBBD;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 164, ../scss/_common.scss */
.fields input[name="street"] {
  width: 40%;
  border-right: 2px solid #D1DBBD;
}
/* line 168, ../scss/_common.scss */
.fields input[name="house"] {
  width: 30%;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
}

/* line 174, ../scss/_common.scss */
.switch {
  display: inline-block;
  background-color: #D1DBBD;
}
/* line 178, ../scss/_common.scss */
.switch.active .on {
  cursor: default;
  background-color: #3E606F;
}
/* line 182, ../scss/_common.scss */
.switch.active .off {
  cursor: pointer;
  background-color: transparent;
}
/* line 187, ../scss/_common.scss */
.switch a {
  width: 30px;
  padding: 8px;
  color: #FCFFF5;
  line-height: 100%;
  display: inline-block;
}
/* line 193, ../scss/_common.scss */
.switch a.on {
  cursor: pointer;
}
/* line 196, ../scss/_common.scss */
.switch a.off {
  background-color: #3E606F;
}
