html, body {
  font:0 $text normal;
}
body {
  text-align: center;
  padding:20px;
  background: $darkblue url("../img/logo.png") no-repeat fixed bottom right;
  background-size: auto auto;
  @media screen and (max-width:$middle_max) and (min-width:$small_min) {
    background-size: 80% auto;
  }
  @media screen and (max-width:$small_max) {
    background-size: 100% auto;
  }
}

p {
  font-size:14px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size:20px;
}
h5 {
  font-size:18px;
}
h6 {
  font-size:16px;
}
h1, h2, h3, h4, h5, h6 {
  color: $darkblue;
  font-family: $headings;
  margin-bottom:20px;
}

input {
  width:100%;
  border:0;
  padding:8px 4px;
  margin-bottom:10px;
  display: inline-block;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border:0;
  padding:4px 8px;
  color:$white;
  background-color: $darkblue;
  @include border-radius(3px);
  &:focus, &:hover {
    background-color: $blue;
  }
}

header {
  padding:20px;
  margin:-20px -20px 20px;
  box-sizing: border-box;
  background-color: $rgba;
  border-bottom:5px solid $grey;
}

section {
  padding:10px;
  margin-bottom:20px;
  box-sizing: border-box;
  border:1px dashed $blue;
  @include border-radius(10px);
  ul li {
    width:100%;
    display: inline-block;
    padding:5px 0;
    text-align:left;
    border-bottom:1px dashed $blue;
    &:last-of-type {
      border-bottom-width: 0;
    }
    strong {
      margin-right:20px;
      display: inline-block;
      font-weight:bold;
    }
  }
}

.results {
  margin-top:20px;
  text-align: left;
  .row {
    width:100%;
    font-size:0;
    display: inline-block;
    box-sizing: border-box;
    color: $darkblue;
    padding:10px 8px;
    background-color:$lightblue;
    border-bottom: 1px solid $grey;
    &:hover {
      @include opacity(0.8);
    }
    &:first-of-type {
      @include border-radius(10px 10px 0 0);
    }
    &:last-of-type {
      border-bottom-width: 0;
      @include border-radius(0 0 10px 10px);
    }
    &.active {
      color:$white;
      background-color: $blue;
    }
    span {
      font-size:14px;
      margin-right:2%;
    }
    .status {
      @include border-radius(100%);
      height:14px;
      width:14px;
      display: inline-block;
      &.off {
        background-color:red;
      }
      &.on {
        background-color: green;
      }
    }
  }
}

.block {
  padding:20px;
  width: 32%;
  margin:0 2% 20px 0;
  font-size:14px;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  background-color:$rgba;
  border:5px solid $grey;
  @include border-radius(10px);
  @media screen and (max-width:$middle_max) and (min-width:$small_min) {
    width:80%;
    margin-right:0;
  }
  @media screen and (max-width:$small_max) {
    width:100%;
    margin-right:0;
  }
  &:last-of-type {
    margin-right:0;
  }
}

.fields {
  width:100%;
  font-size:0;
  display: inline-block;
  input[name="username"], input[name="password"] {
    @include border-radius(5px);
  }
  input[name="city"] {
    width:30%;
    border-right:2px solid $grey;
    @include border-radius(5px 0 0 5px);
  }
  input[name="street"] {
    width:40%;
    border-right:2px solid $grey;
  }
  input[name="house"] {
    width:30%;
    @include border-radius(0 5px 5px 0);
  }
}

.switch {
  display: inline-block;
  background-color:$grey;
  &.active {
    .on {
      cursor:default;
      background-color:$blue;
    }
    .off {
      cursor: pointer;
      background-color: transparent;
    }
  }
  a {
    width:30px;
    padding:8px;
    color:$white;
    line-height:100%;
    display: inline-block;
    &.on {
      cursor:pointer;
    }
    &.off {
      background-color:$blue;
    }
  }
}