html, body {
  font:14px $text;
}
body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings;
}

.block {
  width: 40%;
  display: block;
  border: 5px solid $grey;
  margin: auto;
  @include border-radius(10px);
  h1 {
    font-size: 24px;
  }
  .switch {
    display: inline-block;
    background-color:$grey;
    &.active {
      .on {
        cursor:default;
        background-color:$blue;
      }
      .off {
        cursor: pointer;
        background-color: transparent;
      }
    }
    a {
      width:30px;
      padding:8px;
      color:$white;
      line-height:100%;
      display: inline-block;
      &.on {
        cursor:pointer;
      }
      &.off {
        background-color:$blue;
      }
    }
  }
}