$text: Tahoma, Geneva, sans-serif;
$headings: Impact, Charcoal, sans-serif;

$white: #FCFFF5;
$grey: #D1DBBD;
$lightblue: #94BFCA;
$blue: #3E606F;
$darkblue: #193441;
$rgba: rgba(255,255,255, 0.7);

$large_min: 1080px;
$large_max: 1081px;
$middle_min: 720px;
$middle_max: 721px;
$small_min: 480px;
$small_max: 481px;